a{
    text-decoration: none;
}

.body__container {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

/* BUTTON */
.btn{
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border : 1px solid;
    border-radius: 6px;
    display:inline-flex;
    align-items: center;
    padding:0px 12px;
    font-size:14px;
    font-weight:500;
    line-height:1.5;
    color: #333;
    
    cursor:pointer;  
    position:relative;
    box-sizing:border-box;
  }
  
  .btn:hover::before{
    /* 가상요소?? before after 매우 많이 씀 신기함 */
    content:"";
    /*content 재미난 기능이 많음 무조건 넣어야됨*/
    position:absolute;  
    /*얘도 중요함 부모한테는 relatie 있어야 absolute 쓸수있음 기준으로 이동을 함    */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.07);
    
  }
  
  .btn--primary{
    border : 1px solid #65b836;
    color:#fff;
    background:#55a532 linear-gradient(#91dd70, #55ae2e);
    
  }
  
  /* INPUT */
  .input--text{
    height:34px;
    padding:0px 10px;
    font-size:16px;
    border:2px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-sizing:border-box;
    box-shadow:inset 1px 2px rgba(0,0,0,.075);
      
  }
  
  .input--text:focus{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.175),0 0 5px rgba(81, 167, 232, 35);
    
  }
  
  /* 
  문제코드 : 텍스트 컬러가 red로 적용아인됨
  .inpur--text{
    color:
  }
  
  해결방법 : Vender prefix (브라우저 업체별 접두어)
   */
  
  .input--text::-webkit-input-placeholder{color:#cacaca;}
  .input--text::-ms-input-placeholder{color:#cacaca;}
  .input--text::-moz-input-placeholder{color:#cacaca;}

/* HEADER */

header{
    border-bottom: 1px solid rgba(0,0,0,.75);
    box-shadow:0 0 5px rgba(0,0,0,.75);
    background: #fff;

}

header .inner{
    max-width: 980px;
    height: 78px;
    margin:0 auto;
/* margin을 자주 씀 여백 컨트롤 할 때 */
}

header .menu-group{
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo{
    margin-right: 10px;


}

header .logo a{
    background: url(../img/logo.svg);
    /* .. 두 번 쓰면 외부로 나갈수 있는 경로를 탄다 */
    width: 32px;
    height: 32px;
    display: block;
    /* a태그는 inline 속성 = 크기를 지정못함 */
    text-indent: -9999px;
    /* github라는 문구 대체 텍스트 alt 대신하기위해 왼쪽으로 이동*/
    /* -9999가 개발자들끼리 대체 텍스트구나 하면서 이해함 */
    
}

header .logo a:hover{
    background: url(../img/logo_on.svg);

}

header .main-menu{
    display: flex;

}

header .main-menu li a{
    /* 그냥 li로하면 적용이 안된다 */
    padding: 15px;
    color: #3c4146;
    display: block;

}

header .main-menu li a:hover{
    color: #55a532;

}
